In [1]:
a = "Thulasikrishna Bodireddy"

In [2]:
len(a)

24

In [4]:
l = [2,3,4,5,"Thulasikrishna Bodireddy", 4.67]

In [5]:
len(l)

6

In [6]:
def test():
    pass

In [7]:
def test1():
    print("this is my very first function in python")

In [8]:
test1()

this is my very first function in python

In [9]:
a = 1

In [10]:
b = test1()

this is my very first function in python

In [11]:
type(b)

NoneType

In [12]:
b

In [12]:
print(b)

None

In [13]:
c = "Thulasi"

In [14]:
type(c)

str

In [15]:
type(test1())

this is my very first function in python

NoneType

In [16]:
def test2():
    return 5

In [17]:
test2()

5

In [18]:
d = test2()

In [19]:
d

5

In [20]:
type(print("this "))

this

NoneType

In [21]:
def test3():
    return 5

In [22]:
def test4():
    return ("this is my print return ")

In [23]:
test3()

5

In [24]:
e = test4()

In [25]:
e + "Thulasikrishna Bodireddy"

'this is my print return Thulasikrishna Bodireddy'

In [27]:
def test3():
    return "Thulasikrishna"

In [28]:
test3() + "Bodireddy"

'ThulasikrishnaBodireddy'

In [29]:
test4() + "Bodireddy"

'this is my print return Bodireddy'

In [30]:
def test5():
    print("this is my python code ")

In [31]:
def test6():
    return 1,3 , [3,4,5,"Thulasikrishna Bodireddy"],(3,4,5,6)

In [32]:
test6()

(1, 3, [3, 4, 5, 'Thulasikrishna Bodireddy'], (3, 4, 5, 6))

In [33]:
type(test6())

tuple

In [34]:
test6()[1]

3

In [35]:
test6()[2]

[3, 4, 5, 'Thulasikrishna Bodireddy']

In [36]:
def test7():
    return 1,3 , [3,4,5,"Thulasikrishna BOdireddy"],(3,4,5,6)

In [37]:
a,b,c,d = test7()

In [38]:
a

1

In [39]:
b

3

In [40]:
c

[3, 4, 5, 'Thulasikrishna BOdireddy']

In [41]:
d

(3, 4, 5, 6)

In [42]:
a =1
b= 3
c ="Thulasikrishna Bodireddy"

In [43]:
a,b,c = 1,3,"Thulasikrishna Bodireddy"

In [44]:
def test8():
    a = 4*5+8
    return a

In [45]:
test8() + 8

36

In [46]:
type(test8())

int

In [47]:
def test9():
    l = [2,3,4,5,6,7,8,9,"Thulasikrishna"]
    a = 0
    for i in l :
        if type(i) == int:
            a = i+a
    return a

In [48]:
test9()

44

In [49]:
len("Thulasi")

7

In [50]:
len([4,5,6])

3

In [51]:
l1 = [4,5,6,7,7,8,"Krishna" , 4.56]

In [52]:
def test10(l):
    a = 0
    for i in l :
        if type(i) == int:
            a = i+a
    return a

In [53]:
test10(l1)

37

In [54]:
def test11(a,b):
    return a+b

In [55]:
test11(2,3)

5

In [56]:
test11("Thulasikrishna" ,"Krishna")

'ThulasikrishnaKrishna'

In [57]:
test11(a = 7 , b = 5)

12

In [58]:
test11(b = 8 , a = 5)

13

In [59]:
l = [3,4,5,6,7,8,"Thulasikrishna" , 5,6,7,"Bodireddy" , "ineuron"]

In [60]:
def test12(l):
    """this is my function which will help you to seperate a string from list into a new list """
    l1 = []
    for i in l :
        if type(i) == str:
            l1.append(i)
    return l1

In [61]:
test12(l)

['Thulasikrishna', 'Bodireddy', 'ineuron']

In [62]:
l2 = ["fsfda" , "fsdf" ,"abc " , 456,56]

In [63]:
test12(l2)

['fsfda', 'fsdf', 'abc ']

In [64]:
len("sdf")

3

In [65]:
print()

In [66]:
test12([1,2])

[]

In [67]:
len("Thulasi")

7

In [68]:
l2

['fsfda', 'fsdf', 'abc ', 456, 56]

In [69]:
1. write a function which will try to find out len of a string without using an inbuilt len function 
2. write a function which  will be able to print an index of list element without using an index function
3. write a function which will be able to print an ip address of your system
4. write a function which will shutdown your system
5. write a function which will take input as a list with any kind of numeric value and give an out as a multiplication of 
all the numeric data l = [3.5, 6.56, 4,5,"sudh" , "ineuron" , 'fsda bootcamp 2.0']
6. write a function which will be able to read all the mails 
7 . write a function which will be able to send a mail to anyone 
8. write a function which will be able to read a doc/word file from your system 

you are suppose to complete this by oct 30th before your 
live class and you have to send a solution at mail id - query@ineuron.ai
submit your git link to mail

SyntaxError: invalid syntax (2051451729.py, line 1)

In [70]:
#1. write a function which will try to find out len of a string without using an inbuilt len function
s="thulasikrishna"
l=0
for i in s:
    l+=1
print(l)

14

In [71]:
#2. write a function which  will be able to print an index of list element without using an index function
def print_index(l,e):
    for i in range(len(l)):
        if l[i]==e:
            print(i)
            break
print_index([1,4,5,2,7],5)

2

In [72]:
#3. write a function which will be able to print an ip address of your system
def print_ip():
    hostname = socket.gethostname()
    IP = socket.gethostbyname(hostname)
    print(IP)
import socket
print_ip

In [73]:
#4. write a function which will shutdown your system
def shutdown():
    os.system("shutdown /s /t 1")
import os
shutdown

In [74]:
#5. write a function which will take input as a list with any kind of numeric value and give an out as a multiplication of 
#all the numeric data l = [3.5, 6.56, 4,5,"sudh" , "ineuron" , 'fsda bootcamp 2.0']
def find_mul(l):
    m=1
    for i in l:
        if isinstance(i, (int,float)):
            m*=i
    return m
l = [3.5, 6.56, 4,5,"sudh" , "ineuron" , 'fsda bootcamp 2.0']
print(find_mul(l))

459.19999999999993